/* rfr colors
 https://coolors.co/ef6706-003552-5eb1bf-ecdcb0-efcb68
*/
@import "tailwindcss";

@config '../../../../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility gradient {
  background: linear-gradient(
    90deg,
    var(--spanish-orange) 0%,
    var(--orange-yellow-crayola) 42%,
    var(--spanish-orange) 100%
  );
}
@utility label {
  /* forms */
  @apply block mb-2 text-sm font-bold text-gray-700;
}
@utility input {
  @apply w-full px-3 py-2 leading-tight text-gray-700 border rounded-sm shadow-sm appearance-none;

  &:focus {
    @apply shadow-sm outline-hidden;
  }
}
@utility btn {
  /* button */
  @apply px-4 py-2 font-bold text-white no-underline bg-maximum-blue border-2 border-maximum-blue rounded-sm shadow-none;

  &:hover {
    @apply no-underline bg-prussian border-prussian shadow-none;
  }
}
@utility btn-secondary {
  @apply px-4 py-2 font-bold text-maximum-blue no-underline bg-white border-2 border-maximum-blue rounded-sm shadow-none;

  &:hover {
    @apply no-underline text-prussian border-prussian  shadow-none;
  }
}
@utility teaser {
  /* teaser*/
  @apply px-8 py-4 shadow-lg;
  background-color: var(--dutch-white);

  & h3 {
    @apply mb-3 font-semibold tracking-wide text-gray-700 sm:text-lg sm:leading-snug;
  }
  & p {
    @apply text-gray-700;
  }

  & a {
    @apply text-gray-700 underline;
  }

  @media (width >= theme(--breakpoint-lg)) {
    /* teaser*/
    @apply absolute right-0 w-1/2 mx-8 -mb-8 rounded-lg -bottom-20;
  }
}
@utility page_section {
  @apply max-w-(--breakpoint-lg) px-8 mx-auto xl:max-w-(--breakpoint-xl);
}
@utility card {
  @apply bg-white rounded-lg shadow-lg;
}
@utility content {
  /*markup  styles*/
  @apply my-12 text-base leading-relaxed text-gray-800 bg-white;

  /* headlines */
  & h1 {
    @apply mt-12 text-4xl font-bold leading-tight tracking-tight text-orange-500;
  }
  & h2 {
    @apply mb-3 font-semibold tracking-wide text-prussian uppercase text-2xl sm:leading-snug;
  }
  & h3 {
    @apply my-3 text-lg font-semibold text-gray-700;
  }
  & h4 {
    @apply my-3 text-lg font-semibold text-gray-700;
  }
  & h5 {
    @apply my-3 text-lg font-semibold text-gray-700;
  }
  & h6 {
    @apply my-3 text-lg font-semibold text-gray-700;
  }

  /* Paragraph */
  & p {
    @apply mb-4;
  }
  /* Lists */
  & ul {
    @apply mb-4 ml-8;
  }
  & ol {
    @apply mb-4 ml-8;
  }
  & li > p {
    @apply mb-0;
  }
  & li > ul {
    @apply mb-0;
  }
  & li > ol {
    @apply mb-0;
  }
  & ol {
    @apply list-decimal;
  }
  & ul {
    @apply list-disc;
  }
  /* Blockquotes */
  & blockquote {
    @apply p-2 mx-6 mb-4 italic bg-gray-100 border-l-4 border-gray-400;
  }
  & blockquote > p {
    @apply mb-0;
  }
  /* Tables */
  & td {
    @apply px-2 py-1 border border-gray-400;
  }
  & th {
    @apply px-2 py-1 border border-gray-400;
  }
  & tr:nth-child(odd) {
    @apply bg-gray-100;
  }
  & table {
    @apply mb-6;
  }

  & :not(pre) > code.language-text {
    white-space: pre-line;
  }
}
@utility language-text {
  .content :not(pre) > &code {
    white-space: pre-line;
  }
}

@layer base {
  :root {
    --plyr-color-main: #4f46e5;
    --spanish-orange: #ef6706;
    --prussian-blue: #003552;
    --maximum-blue: #5eb1bf;
    --dutch-white: #ecdcb0;
    --orange-yellow-crayola: #efcb68;
  }
}
@layer components {
  /* Links */
  a {
    text-decoration: none;
    transition: all 0.25s ease-out;
    box-shadow: inset 0 -3px 0 0 var(--orange-yellow-crayola);
  }
  a:focus,
  a:hover {
    text-devoration: none;
    box-shadow: inset 0 -0.4em 0 0 var(--orange-yellow-crayola);
    transition: all 0.25s ease-out;
  }
}
