<article class="card">
  <div class="badge badge--meta">
    {% if episode.episodeNumber %}Episode {{ episode.episodeNumber }}
    {% else %}{{ episode.isoDate | shortReadableDateFromISO }}
    {% endif %}
  </div>

  <h3 class="title-3">{{episode.title}}</h3>

  {% if episode.itunes.keywords %}
    <div class="episode-topics">
      {% set keywords = episode
        .itunes
        .keywords
        .split(',') %}
      {% for keyword in keywords %}
        <span class="badge badge--pill badge--secondary">{{ keyword.trim() }}</span>
      {% endfor %}
    </div>
  {% endif %}

  <div class="interactive interactive--padded interactive--bordered space-md">
    <audio class="rfr-player" controls preload="none">
      <source type="audio/mpeg" src="{{episode.enclosure.url}}&source=rfr_episodes">
    </audio>
  </div>

  <div class="episode-actions">
    <a href="/{{episode | toEpisodeUrl }}/" title="{{ episode.title }}" class="btn btn--primary">Shownotes →</a>
  </div>
</article>