<footer class="mt-12 bg-white border-t border-gray-200 text-gray-800">
    <div class="px-8 py-6 text-center w-full">
        <p>Created with <span class="text-red-600">&#9829;</span> and <a href="https://www.11ty.dev/" title="Webseite von Eleventy (11ty), einem static-site generator">11ty</a>. Hosted at <a href="https://www.netlify.com/" title="Webseite von Netlify. Netlify bietet Hosting- und serverless Backend-Services u.a. für statische Websites an.">Netlify</a>.
  </p>
        <p>
    Der Podcast &quot;<i>Ready for Review</i>&quot; wird unter der Lizenz <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode">Creative Commons Attribution/Share Alike</a> veröffentlicht.
  </p>
        <p>
  All emojis designed by <a href="https://openmoji.org/" rel="nofollow">OpenMoji</a> – the open-source emoji and icon project. License: <a href="https://creativecommons.org/licenses/by-sa/4.0/#" rel="nofollow">CC BY-SA 4.0</a>
        </p>
        <p>
            <a href="https://twitter.com/sandraparsick" title="Sandra Parsick bei Twitter" >@sandraparsick</a> &middot; <a href="https://twitter.com/danielmies" title="Daniel Mies bei Twitter" rel="me">@danielmies</a> &middot; <a href="/datenschutz/" title="Datenschutzerklärung von Ready for Review">Datenschutz</a> &middot; <a href="/impressum/" title="Impressum von Ready for Review">Impressum</a>
        </p>

        <p>
            <small>{% buildInfo %}</small>
        </p>
    </div>
</footer>