<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h4 class="title-4">Podcast hören</h4>
        <ul>
          <li>
            <a href="https://ready-for-review.podigee.io/feed/mp3">RSS Feed</a>
          </li>
          <li>
            <a href="https://podcasts.apple.com/de/podcast/ready-for-review/id1535026156">Apple Podcasts</a>
          </li>
          <li>
            <a href="https://open.spotify.com/show/7dxK2wi4ZMGEYO3UHhTSc4?si=N6NT3727RWK0PfntC4cQYQ">Spotify</a>
          </li>
          <li>
            <a href="https://www.deezer.com/de/show/1836312">Deezer</a>
          </li>
          <li>
            <a href="https://overcast.fm/itunes1535026156">Overcast</a>
          </li>
          <li>
            <a href="https://pca.st/nansephz">Pocket Casts</a>
          </li>
        </ul>
      </div>

      <div class="footer-section">
        <h4 class="title-4">Social Media</h4>
        <ul>
          <li>
            <a href="https://podcasts.social/@readyforreview">Mastodon</a>
          </li>
          <li>
            <a href="https://mastodon.social/@sparsick">Sandra auf Mastodon</a>
          </li>
          <li>
            <a href="https://chaos.social/@danielzenzes">Daniel auf Mastodon</a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCnVCACzOxoOShe_69qo51hg">YouTube</a>
          </li>
        </ul>
      </div>

      <div class="footer-section">
        <h4 class="title-4">Kontakt & Mehr</h4>
        <ul>
          <li>
            <a href="/kontakt">Kontakt</a>
          </li>
          <li>
            <a href="/impressum">Impressum</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>{% buildInfo %}</p>
      <p>
    Der Podcast &quot;<i>Ready for Review</i>&quot; wird unter der Lizenz <a href="https://creativecommons.org/licenses/by-nc/4.0/legalcode">Attribution-NonCommercial 4.0 International (CC BY-NC 4.0)</a> veröffentlicht.
  </p>
      <p>&copy; 2020 - {{ "now" | date("yyyy") }} Ready for Review. Ein Podcast von Sandra Parsick und Daniel Zenzes.</p>
    </div>
  </div>
</footer>