<section class="max-w-screen-lg xl:max-w-screen-xl mx-auto relative px-8">
    <h2 class="sm:text-lg sm:leading-snug font-semibold tracking-wide uppercase text-indigo-600 mb-3">Die Hosts</h2>
    {% Image "./images/teaser.jpg",
    "Sandra Parsick und Daniel Mies" %}
    <article class="teaser">
        <h3 class="sm:text-lg sm:leading-snug font-semibold tracking-wide mb-3 text-white">Über Sandra &amp; Daniel</h3>
        <p class=" text-gray-100 font-medium mb-8 sm:mb-6">
            <a href="https://www.sandra-parsick.de/" title="Persönliche Webseite von Sandra Parsick">Sandra</a> ist als freiberufliche Softwareentwicklerin und Beraterin im Java Umfeld tätig. Seit 2008 beschäftigt sie sich mit agiler Softwareentwicklung in verschiedenen Rollen.
      </p>
        <p class=" text-gray-100 font-medium mb-8 sm:mb-6">
            <a href="https://mies.me" title="Persönliche Webseite von Daniel Mies">Daniel</a> ist als IT Consultant bei der codecentric AG beschäftigt. Dort entwickelt er leidenschaftlich gerne moderne Frontend Anwendungen oder unterstützt Teams als Agiler Coach.
      </p>
    </article>

</section>