{%- from "components/macro.njk" import player -%}
<div>
    {% if episodes.items.length %}
        <h2 class="max-w-screen-lg xl:max-w-screen-xl mx-auto px-8 sm:text-lg sm:leading-snug font-semibold tracking-wide uppercase text-indigo-600 mb-3">Aktuelle Folge</h2>

        <section class="bg-indigo-500 py-12 sm:py-14 shadow-lg">
            <section class="max-w-screen-lg xl:max-w-screen-xl mx-auto">

                {{player(episodes.items[0])}}

                <p class="mt-4 mx-8 text-white text-right">Alle Folgen findet ihr in der <a href="/episoden" class="text-white underline hover:no-underline" title="Alle Podcast Episoden">Episoden</a>-&Uuml;bersicht.</p>

            </section>
        </section>
    {% endif %}
</div>