<div>
    {% if episodes.items.length %}
        <h2 class="max-w-screen-lg xl:max-w-screen-xl mx-auto px-8 sm:text-lg sm:leading-snug font-semibold tracking-wide uppercase text-indigo-600 mb-3">Aktuelle Folge</h2>

        <section class="bg-indigo-500 py-12 sm:py-14 shadow-lg">
            <section class="max-w-screen-lg xl:max-w-screen-xl mx-auto">
                {% set episode = episodes.items[0] %}
                <div class="flex items-center justify-center px-8">
                    <div class="bg-white flex shadow-lg rounded-lg" >

                        <svg class="hidden md:block">
                            <use xlink:href="#rfr"></use>
                        </svg>

                        <div class="w-full p-8">
                            <div class="flex justify-between">
                                <div>
                                    <h3 class="text-2xl text-grey-darkest font-medium">
                                        <a class="no-underline" href="/{{episode | toEpisodeUrl }}/" title="{{ episode.title }}">{{episode.title}}</a>
                                    </h3>

                                    <time class="text-sm text-grey mt-1" datetime="{{ episode.isoDate}}">{{ episode.isoDate | shortReadableDateFromISO }}</time>
                                </div>
                            </div>
                            <div class="flex justify-between items-center mt-8">
                                <audio class="rfr-player w-full my-4" controls preload="auto">
                                    <source type="audio/mpeg" src="{{episode.enclosure.url}}">
                                </audio>

                            </div>
                        </div>

                    </div>
                </div>

                <p class="mt-4 mx-8 text-white text-right">Alle Folgen findet ihr in der <a href="/episoden" class="text-white underline hover:no-underline" title="Alle Podcast Episoden">Episoden</a>-&Uuml;bersicht.</p>

            </section>
        </section>
    {% endif %}
</div>