<nav class="navigation">
    <a href="/" aria-label="Startseite" class="logo">
        <svg>
            <use xlink:href="#icon-microphone"></use>
        </svg>
    </a>
    <div data-menu-button class="menu-button">Menu</div>

    <a href="https://twitter.com/readyforreview">
        <svg>
            <use xlink:href="#icon-twitter"></use>
        </svg>
        <span class="hidden">Twitter</span>
    </a>
    <a href="/feed.xml">
        <svg>
            <use xlink:href="#icon-rss"></use>
        </svg>
        <span class="hidden">RSS</span>
    </a>

    {% set navPages = collections.all | eleventyNavigation %}
    <ul id="page-nav" class="navigation__list is-open" data-menu="" hidden="">
        {%- for entry in navPages %}
            <li>
                <a href="{{ entry.url | url }}" data-title="{{ entry.title }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
            </li>
        {%- endfor %}
    </ul>

    <script>
        (function () {
            const fakeButton = document.querySelector('[data-menu-button]');
            const menu = document.querySelector('[data-menu]');

            const toggleMenuButton = document.createElement('button');
            toggleMenuButton.textContent = 'Open menu';
            toggleMenuButton.setAttribute('aria-expanded', false);
            toggleMenuButton.setAttribute('aria-controls', 'page-nav');
            toggleMenuButton
                .classList
                .add('navigation__list--toggle');

            fakeButton
                .parentNode
                .replaceChild(toggleMenuButton, fakeButton);

            toggleMenuButton.addEventListener('click', function () {
                let expanded = this.getAttribute('aria-expanded') === 'true' || false;
                this.setAttribute('aria-expanded', !expanded);
                this.innerText = menu.hidden
                    ? 'Close menu'
                    : 'Open menu'
                menu.hidden = !menu.hidden;
            });

            menu.hidden = true;
        })()
    </script>
</nav>