<section class="relative z-10 max-w-screen-lg xl:max-w-screen-xl mx-auto my-12 px-8">

  <h1 class="mt-24 text-6xl font-extrabold text-orange-500 leading-tight tracking-tight">Ready for Review</h1>
  <svg class="hidden lg:block lg:absolute -mx-12 -mt-6 left-0 top-0 w-24 h-24">
    <use xlink:href="#icon-rocket"></use>
  </svg>
  <p class="max-w-screen-lg text-lg sm:text-2xl sm:leading-10 font-medium mb-10 sm:mb-11">
  Sandra Parsick &amp; Daniel Mies präsentieren mit <strong class="font-semibold">Ready for Review</strong> einen bunten Mix aus aktuellen IT-Themen und dem täglichen Entwickler-Alltag.
  </p>

</section>