<section class="relative bg-white my-12 p-8 shadow rounded">
  <h1 class="mt-12 text-6xl font-bold text-orange-500 leading-tight tracking-tight">Ready for Review 
  <span class="text-4xl block text-indigo-600">mit Sandra Parsick und Daniel Mies</span></h1>
  <svg class="hidden lg:block lg:absolute -mx-8 -mt-8 left-0 top-0 w-32 h-32">
    <use xlink:href="#icon-rocket"></use>
  </svg>
  {% Image "./images/teaser.jpg",
  "Sandra Parsick und Daniel Mies" %}
  <article class="teaser">
    <h2>Über Sandra &amp; Daniel</h2>
    <p>
      <a href="https://www.sandra-parsick.de/" title="Persönliche Webseite von Sandra Parsick">Sandra</a> ist als freiberufliche Softwareentwicklerin und Beraterin im Java Umfeld tätig. Seit 2008 beschäftigt sie sich mit agiler Softwareentwicklung in verschiedenen Rollen.
      </p>
    <p>
      <a href="https://mies.me" title="Persönliche Webseite von Daniel Mies">Daniel</a> ist als IT Consultant bei der codecentric AG beschäftigt. Dort entwickelt er leidenschaftlich gerne moderne Frontend Anwendungen oder unterstützt Teams als Agiler Coach.
      </p>
  </article>
</section>