<article class="card card--bordered-top">
  <h3 class="title-3">{{item.name}}</h3>

  {% if item.tags.length%}
    <div class="episode-topics">
      {% for tag in item.tags %}
        <span class="badge badge--pill badge--secondary">{{tag}}</span>
      {% endfor %}
    </div>
  {% endif %}

  <p class="host-description">
    {{item.description}}
  </p>

  <div class="section-cta">
    <a href="{{item.link}}" title="{{ item.name }}" class="btn btn--outline btn--small">Mehr Informationen →</a>
  </div>
</article>