# dependecies installed by npm
node_modules


# build artefacts
src/_site
dist
_cache/
.cache/

# secrets
.env

# logs
*.log
report.html

# macOS related files
.DS_Store

# Local Netlify folder
.netlify