@media (min-width: 768px) {
  .listen article.main-links a {
    padding: 0 0 0 52px;
    margin-left: 30px;
    width: auto;
    &:before {
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}

.listen {
  a {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #ea4c89;
    -ms-flex: none;
    flex: none;
    -ms-flex-order: 0;
    order: 0;
    -ms-flex-item-align: center;
    align-self: center;
    text-decoration: none;
  }
  a:link,
  a:visited {
    color: #ea4c89;
    text-decoration: none;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
  }
  article.main-links a {
    color: #6e6d7a;
    padding: 52px 0 0;
    width: 33%;
    text-align: center;
    margin: 0 0 0 -5px;
    vertical-align: top;
    font-size: 16px;
    font-weight: bold;
    position: relative;

    &:before {
      width: 40px;
      height: 40px;
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &:first-child:before {
      content: "";
      background: url(/_assets/icons/apple.svg) no-repeat scroll center/contain;
    }
    &:nth-child(2):before {
      content: "";
      background: url(/_assets/icons/spotify.svg) no-repeat scroll
        center/contain;
    }
    &:nth-child(3):before {
      content: "";
      background: url(/_assets/icons/google.svg) no-repeat scroll center/contain;
    }
  }
}
