---
title: Sandra Parsick
eleventyNavigation:
  key: Sandra Parsick
  parent: Über uns
  order: 10
---

{% extends "layout/base.njk" %}
{% block content %}
  <div class="page-hero">
    <div class="container">
      <h1 class="title-1">{{title}}</h1>
      <div class="page-hero__description">
        <p>Sandra ist als freiberufliche Softwareentwicklerin und Beraterin im Java Umfeld tätig. Seit 2008 beschäftigte sie
        sich mit agiler Softwareentwicklung in verschiedenen Rollen. Gerne unterstützt und beratet sie Ihre Kunden in den
        Bereichen der Java Enterprise Anwendungen, agilen Methoden, Software Craftsmanship und in der Automatisierung von
        Softwareentwicklungsprozessen.</p>
        <p>Seit 2019 ist sie <a href="https://apexapps.oracle.com/pls/apex/r/ace_program/oracle-aces/ace?ace_id=821&clear=2">Oracle ACE Pro</a> und wurde 2020 zum Java Champion ernannt.</p>

      </div>
    </div>
  </div>

  {% if uses.sandra.hardware.length %}
    <section class="section section-alt">
      <div class="container">
        <h2 class="title-2">Benutzte Hardware</h2>
        <div class="grid">
          {% for item in uses.sandra.hardware %}
            {%- include "uses-card.njk" -%}
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}