<!doctype html>
<html lang="de">
    <head>
        <title>Ready for review</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            {% include "css/index.css" %}
        </style>
        <link rel="icon" href="/_assets/icons/favicon.svg">

    </head>
    <body>
        {%include "svgs.njk" %}
        <div class="container">
            <header class="header">
                <a href="#main" class="skip-link">Direkt zum Inhalt</a>
                {%- include "navigation.njk" -%}

            </header>
            <main id="main" class="main">
                <div style="background:red;margin:1em 0;padding:1em;color:white;">
                    <p>
Seite befindet sich noch in Entwicklung.
</p>
                </div>
                {% block content %}
                    {{ content | safe }}
                {% endblock %}
            </main>
            {%- include "footer.njk" -%}
        </div>
    </body>
</html>