<!doctype html>
<html lang="de">
    <head>
        <title>Ready for review</title>
        <meta charset="utf-8"/>
        {% if description %}
            <meta name="description" content="{{description}}"/>
        {%else %}
            <meta name="description" content="Ready for review ist der IT Podcast von und mit Sndra Parsick und Daniel Zenzes."/>
        {% endif %}
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
        <link rel="stylesheet" href="/styles/index.css?v={% version %}"/>
        <link rel="icon" href="/images/icons/logo.svg">

        <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">

        <link rel="manifest" href="/images/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel="alternate" type="application/rss+xml" title="Ready for review" href="https://ready-for-review.podigee.io/feed/mp3"/>

        {% block head %}{% endblock %}
    </head>
    <body class="bg-gray-50">
        {%include "svgs.njk" %}
        <div class="flex flex-col h-screen justify-between">

            {% include "header.njk" %}

            <main id="main mb-auto">
                {% block jumbo %}{% endblock %}
                {% block content %}
                    {{ content | safe }}
                {% endblock %}
            </main>
            {%- include "footer.njk" -%}

        </div>
        <script src="/scripts/index.js?v={% version %}" type="module"></script>
    </body>
</html>