<!doctype html>
<html lang="de">
    <head>
        <title>Ready for review</title>
        <meta charset="utf-8"/>
        {% if description %}
            <meta name="description" content="{{description}}"/>
        {%else %}
            <meta name="description" content="Ready for review ist der IT Podcast von und mit Sndra Parsick und Daniel Mies."/>
        {% endif %}
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
        <link rel="stylesheet" href="/assets/main.bundle.css?v={% version %}"/>
        <link rel="icon" href="/assets/icons/favicon.svg">
        <link rel="alternate" type="application/rss+xml" title="Ready for review" href="https://ready-for-review.podigee.io/feed/mp3"/>
        {% block head %}{% endblock %}
    </head>
    <body class="bg-gray-200">
        {%include "svgs.njk" %}

        {% include "header.njk" %}

        <main id="main" class="mx-auto max-w-screen-lg">
            {% block jumbo %}{% endblock %}
            {% block content %}
                {{ content | safe }}
            {% endblock %}
        </main>
        {%- include "footer.njk" -%}
        <script src="/assets/main.bundle.js?v={% version %}"></script>
    </body>
</html>