{% extends "layout/base.njk" %}
{% block content %}
    <div class="bg-white my-12 p-8 shadow rounded">
        <div class="content">
            {{ content | safe }}
        </div>
    </div>
{% endblock %}