{% extends "layout/base.njk" %}
{% block content %}
    <div class="page_section mt-36">
        <h1 class="text-4xl sm:text-6xl lg:text-7xl leading-none font-extrabold tracking-tight text-gray-700 mt-4 mb-8 sm:mb-10">{{title}}</h1>
        <div class="card my-12 p-8">
            <div class="content">
                {{ content | safe }}
            </div>
        </div>
    </div>
{% endblock %}