:root {
  --plyr-color-main: #4f46e5;
}

@tailwind base;

@tailwind components;
@tailwind utilities;
@layer components {
  /* Links */
  a {
    @apply text-orange-500 underline;
  }
  a:hover {
    @apply underline;
  }
  a:focus {
    @apply shadow;
  }

  /* forms */
  .label {
    @apply block text-gray-700 text-sm font-bold mb-2;
  }

  .input {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
  }

  .input:focus {
    @apply outline-none shadow;
  }

  /* button */
  .btn {
    @apply bg-blue-500 text-white font-bold py-2 px-4 border-b-4 border-blue-700 rounded no-underline;
  }

  .btn:hover {
    @apply bg-blue-400 border-blue-500 no-underline;
  }

  /* teaser*/
  .teaser {
    @apply bg-orange-500 py-4 px-8 shadow;
  }

  .teaser h2 {
    @apply text-white text-lg font-semibold leading-tight tracking-tight;
  }
  .teaser p {
    @apply text-gray-100;
  }

  .teaser a {
    @apply text-white underline;
  }

  @screen lg {
    /* teaser*/
    .teaser {
      @apply absolute -bottom-20 right-0 w-1/2 mx-8 -mb-8 rounded;
    }
  }

  /*markup  styles*/
  .content {
    @apply leading-relaxed text-base bg-white my-12 text-gray-800;
  }

  /* navigation / header*/

  .header {
    @apply bg-white py-2 shadow;
  }

  @screen lg {
    .header {
      @apply py-0;
    }
  }

  .header__inner {
    @apply mx-auto max-w-screen-lg flex items-center justify-between flex-wrap bg-white;
  }

  .logo {
    @apply flex flex-1 items-center flex-shrink-0 mr-6;
  }

  .logo__icon {
    @apply fill-current h-8 w-8 mr-2;
  }

  .menubutton {
    @apply mx-3 flex items-center px-3 py-2 border rounded text-gray-600 border-gray-800;
  }

  .menubutton:hover {
    @apply text-orange-500 border-orange-400;
  }

  @screen md {
    .menubutton {
      @apply hidden;
    }
  }

  .menubutton__icon {
    @apply fill-current h-3 w-3;
  }

  .social_icons {
    @apply py-2 flex items-center;
  }

  @screen md {
    .social_icons {
      @apply w-auto;
    }
  }

  .social_icon {
    @apply flex items-center justify-items-center  rounded-full  border-2 border-none space-x-2;
  }

  .social_icon svg {
    @apply fill-current h-8 w-8;
  }

  .social_icon:hover {
    @apply bg-orange-200;
  }

  @screen md {
    .social_icon {
      @apply ml-4 mb-0 cursor-pointer;
    }
  }

  /* headlines */
  .content h1 {
    @apply mt-12 text-4xl font-bold text-orange-500 leading-tight tracking-tight;
  }
  .content h2 {
    @apply text-xl my-6 font-semibold;
  }
  .content h3,
  .content h4,
  .content h5,
  .content h6 {
    @apply text-lg my-3 font-semibold;
  }

  /* Paragraph */
  .content p {
    @apply mb-4;
  }
  /* Lists */
  .content ul,
  .content ol {
    @apply mb-4 ml-8;
  }
  .content li > p,
  .content li > ul,
  .content li > ol {
    @apply mb-0;
  }
  .content ol {
    @apply list-decimal;
  }
  .content ul {
    @apply list-disc;
  }
  /* Blockquotes */
  .content blockquote {
    @apply p-2 mx-6 bg-gray-100 mb-4 border-l-4 border-gray-400 italic;
  }
  .content blockquote > p {
    @apply mb-0;
  }
  /* Tables */
  .content td,
  .content th {
    @apply px-2 py-1 border border-gray-400;
  }
  .content tr:nth-child(odd) {
    @apply bg-gray-100;
  }
  .content table {
    @apply mb-6;
  }

  .content :not(pre) > code.language-text {
    white-space: pre-line;
  }
}
