---
layout: layout/base.njk
---

<div class="page-hero">
    <div class="container">
        <h1 class="title-1">{{ title }}</h1>
        <div class="page-hero__description">
            <p>{{description}}</p>
        </div>
    </div>
</div>

<div class="page-container">
    <div class="grid">
        <div class="card card--bordered-top">
            <h2 class="title-3">Zutaten</h2>
            <ul class="content">
                {% for item in ingredients %}
                    <li>{% ingredient item %}</li>
                {% endfor %}
            </ul>
        </div>

        {% if cookware.length %}
            <div class="card card--bordered-top">
                <h2 class="title-3">Utensilien</h2>
                <ul class="content">
                    {% for item in cookware %}
                        <li>{{ item.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    <div class="card space-top-md">
        <h2 class="title-2">Anleitung</h2>
        <div class="content">
            <ol>
                {% for step in steps %}
                    <li>
                        {%- for item in step -%}
                            {{ item | safe }}
                        {%- endfor -%}
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>

    {% if source %}
        <div class="card card--bordered-left space-top-md">
            <h2 class="title-3">Quelle</h2>
            <div class="content">
                {% if source.startsWith('http://')or source.startsWith('https://') %}
                    <p>
                        <a href="{{ source }}" target="_blank" rel="noopener noreferrer">{{ source }}</a>
                    </p>
                {% else %}
                    <p>{{ source | safe }}</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>