<section class="relative page_section">
    <h2
    class="mb-3 font-semibold tracking-wide text-indigo-600 uppercase sm:text-lg sm:leading-snug"
  >
    Die Hosts
  </h2>
    {% Image "teaser.jpg",
    "Sandra Parsick und Daniel Zenzes" %}
    <svg class="absolute top-0 w-24 h-24 -left-4">
        <use xlink:href="#icon-rocket"></use>
    </svg>
    <article class="teaser">
        <h3 class="mb-3 font-semibold tracking-wide text-white sm:text-lg sm:leading-snug"
    >
      Über Sandra &amp; Daniel
    </h3>
        <p class="mb-8 font-medium text-gray-100 sm:mb-6">
            <a
        href="https://www.sandra-parsick.de/"
        title="Persönliche Webseite von Sandra Parsick"
        >Sandra</a
      >
      ist als freiberufliche Softwareentwicklerin und Beraterin im Java Umfeld
      tätig. Seit 2008 beschäftigt sie sich mit agiler Softwareentwicklung in
      verschiedenen Rollen.
    </p>
        <p class="mb-8 font-medium text-gray-100 sm:mb-6">
            <a href="https://zenzes.me" title="Persönliche Webseite von Daniel Zenzes"
        >Daniel</a
      >
      ist als Software Architekt bei Bike24 beschäftigt. Er hatte schon immer
      eine Leidenschaft für moderne Frontend-Architekturen, ist aber auch gerne
      in der Cloud unterwegs.
    </p>
    </article>
</section>