<section class="page_section mt-36">
    <svg class="shadow w-16 h-16">
        <use xlink:href="#rfr"></use>
    </svg>
    <h1 class="text-4xl sm:text-6xl lg:text-7xl leading-none font-extrabold tracking-tight text-gray-700 mt-4 mb-8 sm:mb-10">Ready for Review</h1>
    <p class="text-lg text-gray-500 sm:text-2xl sm:leading-10 font-medium mb-10 sm:mb-11">
    Sandra Parsick &amp; Daniel Zenzes präsentieren mit <strong class="font-semibold">Ready for Review</strong> einen bunten Mix aus aktuellen IT-Themen und ihrem täglichen Entwickler-Alltag.
  </p>
    <p class="text-right">
        <a class="font-medium " href="/ueber-uns/#podcast">mehr zum Podcast</a>
    </p>

    <div class="flex items-center justify-around mx-auto max-w-md mt-16">
        <a class="py-1 mx-2" href="https://podcasts.social/@readyforreview" name="ready for review bei Mastodon" rel="me">
            <svg width="32" height="32" viewBox="0 0 32 32">
                <use xlink:href="#icon-elephant"></use>
            </svg>
            <span class="sr-only">Ready for review bei Mastodon</span>
        </a>
        <a class="py-1 mx-2" href="https://twitter.com/readyforreview" name="ready for review bei Twitter">
            <svg width="32" height="32" viewBox="0 0 32 32">
                <use xlink:href="#icon-bird"></use>
            </svg>
            <span class="sr-only">Ready for review bei Twitter</span>
        </a>
        <a class="py-1 mx-2" href="https://discord.gg/fZbMbwjpjk" name="ready for review auf Discrod">
            <svg width="32" height="32" viewBox="0 0 32 32">
                <use xlink:href="#icon-discord"></use>
            </svg>
            <span class="sr-only">Ready for Review Discord</span>
        </a>

        <a class="py-1 mx-2" href="https://ready-for-review.podigee.io/feed/mp3" name="ready for review RSS Feed">
            <svg width="32" height="32" viewBox="0 0 32 32">
                <use xlink:href="#icon-feed"></use>
            </svg>
            <span class="sr-only">Podcast RSS-Feed</span>
        </a>

    </div>
</section>