<section class="hero" id="start">
  <div class="container">
    <div class="hero-content">
      <div class="media media--large space-bottom-md">
        <svg viewBox="0 0 640 640" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="#rfr"></use>
        </svg>

      </div>

      <h1 class="title-1">Ready for Review</h1>
      <p class="subtitle">Ein bunter Mix aus aktuellen IT-Themen und dem täglichen Entwickler-Alltag</p>

      <div class="cta-buttons">

        <a href="https://podcasts.social/@readyforreview" class="btn btn--outline btn--small" title="Ready for review bei Mastodon" rel="me">
          🐘 Mastodon
        </a>
        <a href="https://discord.gg/fZbMbwjpjk" class="btn btn--outline btn--small" title="Ready for review auf Discord">
          💬 Discord
        </a>

        <a href="https://ready-for-review.podigee.io/feed/mp3" class="btn btn--outline btn--small" title="Ready for review RSS Feed">
          📡 RSS Feed
        </a>
      </div>
    </div>
  </div>
</section>