{%- from "components/macro.njk" import player -%}
<div>
    {% if episodes.items.length and episodes.items.length > 0 %}
        <h2 class="page_section px-8 sm:text-lg sm:leading-snug font-semibold tracking-wide uppercase text-indigo-600 mb-3">Aktuelle Folge</h2>
        <section class="bg-indigo-500 py-12 sm:py-14 shadow-lg">
            <section class="page_section">
                {{player(episodes.items[0])}}
            </section>
        </section>
        <p class="page_section mt-4 text-right">Alle Folgen findet ihr in der <a href="/episoden" title="Alle Podcast Episoden">Episoden</a>-&Uuml;bersicht.</p>
    {% endif %}
</div>