<section class="page_section">
    <h2 class="sm:text-lg sm:leading-snug font-semibold tracking-wide uppercase text-indigo-600 mb-3">Ready for Review findet ihr auf...</h2>
    <section class="card p-8">
        <article class="flex flex-row justify-around w-full">
            <a href="https://podcasts.apple.com/de/podcast/ready-for-review/id1535026156" target=”_blank” class="flex flex-col items-center">
                <img class="w-16 h-16 mr-2" src="/images/icons/apple.svg" alt="Apple Podcast Logo"/>
                <span class="font-semibold ml-1">Apple Podcasts</span>
            </a>
            <a href="https://open.spotify.com/show/7dxK2wi4ZMGEYO3UHhTSc4?si=N6NT3727RWK0PfntC4cQYQ" target=”_blank” class="flex flex-col items-center">
                <img class="w-16 h-16" src="/images/icons/spotify.svg" alt="Spotify Logo"/>
                <span class="font-semibold ml-1">Spotify</span>
            </a>
            <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9yZWFkeS1mb3ItcmV2aWV3LnBvZGlnZWUuaW8vZmVlZC9tcDM=" target=”_blank” class="flex flex-col items-center">
                <img class="w-16 h-16" src="/images/icons/google.svg" alt="Google Podcast Logo"/>
                <span class="font-semibold ml-1">Google Podcasts</span>
            </a>

        </article>

        <article class="text-center mt-12">
            <h3 class="font-semibold text-indigo-600 mx-auto my-2">Und natürlich auch auf:</h3>
            <div class="flex flex-row justify-center space-x-4">
                <a href="https://overcast.fm/itunes1535026156" target="_blank" rel="noreferrer">Overcast</a>
                <a href="https://www.deezer.com/de/show/1836312" target="_blank" rel="noreferrer">Deezer</a>
                <a href="https://pca.st/nansephz" target="_blank" rel="noreferrer">Pocket Casts</a>
                <a href="https://ready-for-review.podigee.io/feed/mp3" target="_blank" rel="noreferrer">RSS</a>
            </div>
        </article>
    </section>

</section>