<section class="page_section">
    <h2 class="mb-3 text-2xl font-semibold tracking-wide uppercase sm:leading-snug text-prussian">Ready for
        Review findet ihr auf...</h2>
    <section class="p-8 card">
        <article class="flex flex-row justify-around w-full">
            <a href="https://podcasts.apple.com/de/podcast/ready-for-review/id1535026156" target=”_blank”
                class="flex flex-col items-center">
                <img class="w-16 h-16 mr-2" src="/images/icons/apple.svg" alt="Apple Podcast Logo"/>
                <span class="ml-1 font-semibold">Apple Podcasts</span>
            </a>
            <a href="https://open.spotify.com/show/7dxK2wi4ZMGEYO3UHhTSc4?si=N6NT3727RWK0PfntC4cQYQ" target=”_blank”
                class="flex flex-col items-center">
                <img class="w-16 h-16" src="/images/icons/spotify.svg" alt="Spotify Logo"/>
                <span class="ml-1 font-semibold">Spotify</span>
            </a>
            <a href="https://ready-for-review.podigee.io/feed/mp3"
                target=”_blank” class="flex flex-col items-center">
                <svg width="64" height="64" viewBox="0 0 64 64">
                    <use xlink:href="#icon-feed"></use>
                </svg>
                <span class="ml-1 font-semibold">RSS</span>
            </a>
        </a>

    </article>

    <article class="mt-12 text-center">
        <h3 class="mx-auto my-2 font-semibold text-prussian">Und natürlich auch auf:</h3>
        <div class="flex flex-row justify-center space-x-4">
            <a href="https://overcast.fm/itunes1535026156" target="_blank" rel="noreferrer">Overcast</a>
            <a href="https://www.deezer.com/de/show/1836312" target="_blank" rel="noreferrer">Deezer</a>
            <a href="https://pca.st/nansephz" target="_blank" rel="noreferrer">Pocket Casts</a>
        </div>
    </article>
</section>

</section>