:root {
  // https://coolors.co/003049-d62828-f77f00-fcbf49-eae2b7
  --blue: #003049;
  --red: #d62828;
  --orange: #f77f00;
  --yellow: #fcbf49;
  --lemon: #eae2b7;

  --blue-brighter: #d2e1fc;
  --blue-bright: #4ab9f8;

  --blue-dark: #1d5a88;
  --green-bright: #39b97c;
  --green: #10967a;
  --green-dark: #09795c;
  --red-bright: #ff7d72;
  --red: #d62828;
  --red-dark: #c52d22;

  --white: #fff;
  --grey-brighter: #f9f9f9;
  --grey-bright: #e1e1e1;
  --grey: #767676;
  --grey-dark: #5a5a5a;
  --grey-darker: #444;
  --grey-very-dark: #343434;
  --color-text: var(--grey-dark);
  --color-text-catchy: var(--grey-very-dark);
  --headline-color: var(--orange);
  --outline-color: var(--lemon);
  --c-highlight: var(--blue);
  --background-color: var(--white);
  --grid-outer-padding: 1em;
  --grid-gap: 2.5em;
}

@media (prefers-color-scheme: dark) {
  :root {
    // TODO
  }
}
