body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 120%;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-text);
  margin: 0;
  padding: 0;
  background-image: linear-gradient(top, #f2f2f2, #e6e6e6);
}
@media (min-width: 38em) {
  body {
    --grid-outer-padding: 2em;
  }
}
*,
:after,
:before {
  box-sizing: border-box;
}
img,
video {
  max-width: 100%;
  height: auto;
}
hr {
  margin: 3em 4em;
  border: none;
  border-top-color: initial;
  border-top-style: none;
  border-top-width: medium;
  border-top: 2px solid var(--grey-bright);
}
body {
  scroll-snap-type: x;
  border-top: 0.25em solid var(--blue);
}
main {
  width: 100%;
  max-width: 80em;
  margin: 0 auto;
  position: relative;
}
.has-accessible-line-length {
  margin: 0 auto;
  max-width: 56ch;
}
.relative {
  position: relative;
}
table {
  width: 100%;
  text-align: left;
  margin: 2em 0;
  padding: 1em;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0.25em 0.25em 0.25em 1em;
}
table th {
  border-bottom: 2px solid var(--grey-bright);
}
table td + td,
table th + th {
  border-left: 2px solid var(--grey-bright);
}
