---
title: Rezepte
eleventyNavigation:
  key: Rezepte
  order: 60
nosearch: true
---
{% extends "layout/base.njk" %}
{% block content %}
  <div class="page-hero">
    <div class="container">
      <h1 class="title-1">{{title}}</h1>
      <div class="page-hero__description">
        <p>Leckere Rezepte aus dem Ready for Review Team - von schnellen Snacks bis zu aufwändigen Gerichten für das nächste Entwickler-Meeting.</p>
      </div>
    </div>
  </div>

  <section class="section">
    <div class="container">
      {% if collections.recipes.length %}
        <div class="grid">
          {% for recipe in collections.recipes %}
            <article class="card hover hover--subtle">
              <h2 class="title-3">{{ recipe.data.title }}</h2>

              <p class="episode-description space-bottom-md">
                {{recipe.data.description}}
              </p>

              <div class="section-cta">
                <a href="{{ recipe.url | url }}" class="btn btn--primary" title="Rezept für {{ recipe.data.title }}">
                  Rezept ansehen →
                </a>
              </div>
            </article>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </section>
{% endblock %}