---
title: Episoden
eleventyNavigation:
  key: Episoden
  order: 30
nosearch: true
pagination:
  data: episodes.items
  size: 12
  alias: episode
  reverse: false
---
{% extends "layout/base.njk" %}
{% block content %}
    <div class="max-w-(--breakpoint-lg) xl:max-w-(--breakpoint-xl) mx-auto mt-36 px-8">
        <h1 class="text-4xl sm:text-6xl lg:text-7xl leading-none font-extrabold tracking-tight text-gray-700 mt-4 mb-8 sm:mb-10">{{ title }}</h1>
        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-5">
            {% if pagination.items.length %}
                {% for episode in pagination.items %}
                    <div class="w-full">
                        {%- include "episode-card.njk" -%}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <nav aria-labelledby="podcast-episodes-pagination" class="mt-8 flex justify-center items-center">
            <h2 id="podcast-episodes-pagination" class="sr-only">Podcast Episodes Pagination</h2>
            <ol class="flex space-x-4">
                {%- for pageEntry in pagination.pages %}
                    <li>
                        <a href="{{ pagination.hrefs[ loop.index0 ] }}" 
                   class="px-4 py-2 rounded-md text-white bg-maximum-blue hover:bg-prussian
                          transition duration-300 ease-in-out 
                          {% if page.url == pagination.hrefs[ loop.index0 ] %} bg-prussian{% endif %}"
                   {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>
                            {{ loop.index }}
                        </a>
                    </li>
                {%- endfor %}
            </ol>
        </nav>

    </div>
{% endblock %}