---
pagination:
  data: episodes.items
  size: 1
  alias: item
permalink: "{{item | toEpisodeUrl}}/"
tags: ['episode']
---
{% extends "layout/base.njk" %}
{% block content %}
  <div class="page-hero">
    <div class="container">
      <time class="badge badge--meta" datetime="{{ item.isoDate}}">{{ item.isoDate | shortReadableDateFromISO }}</time>
      <h1 class="title-1">{{item.title}}</h1>

      {% if item.itunes and item.itunes.keywords %}
        <div class="episode-topics">
          {% for keyword in item
            .itunes
            .keywords
            .split(',') %}
            <span class="badge badge--pill badge--secondary">{{ keyword.trim() }}</span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="page-container">

    <div class="card card--bordered-top">
      <audio class="interactive interactive--full-width space-bottom-md" controls preload="badge badge--metadata">
        <source type="audio/mpeg" src="{{item.enclosure.url}}&source=rfr_details">
      </audio>

      <div class="content">
        {% episodeContent item %}
      </div>
    </div>
  </div>
{% endblock %}