---

pagination:
  data: episodes.items
  size: 1
  alias: item
permalink: "{{item | toEpisodeUrl}}/"
tags: ['episode']
---
{% extends "layout/base.njk" %}
{% block content %}

  <section class="bg-white my-12 p-8 shadow rounded">
    <article>
      <time class="text-gray-800 text-sm" datetime="{{ item.isoDate}}">{{ item.isoDate | shortReadableDateFromISO }}</time>
      <h1 class="text-3xl font-bold text-indigo-600 mb-4">{{item.title}}</h1>

      <audio class="rfr-player shadow rounded bg-gray-500 w-full my-4" controls preload="auto">
        <source type="audio/mpeg" src="{{item.enclosure.url}}">
      </audio>
      <div class="content">
        {% episodeContent item %}
      </div>
    </div>
  {% endblock %}