---

eleventyNavigation:
  key: Episoden
  order: 30
---
{% extends "layout/base.njk" %}
{% block content %}

    <section class="my-12 p-8">
        <h2 class="mt-12 my-4 text-4xl font-bold text-orange-600 leading-tight tracking-tight">Episoden</h2>
        {% if episodes.items.length %}

            {% for episode in episodes.items %}
                <div class="bg-white my-12 p-8 shadow rounded">
                    {%- include "episode-card.njk" -%}
                </div>
            {% endfor %}

        {% endif %}
    </section>
{% endblock %}