---
pagination:
  data: episodes.items
  size: 1
  alias: item
permalink: "{{item | toEpisodeUrl}}/"
tags: ['episode']
---
{% extends "layout/base.njk" %}
{% block content %}
  <div class="max-w-(--breakpoint-lg) px-8 pt-12 mx-auto xl:max-w-(--breakpoint-xl) ">
    <time class="text-sm text-gray-800" datetime="{{ item.isoDate}}">{{ item.isoDate | shortReadableDateFromISO }}</time>
    <h1 class="max-w-(--breakpoint-lg) mx-auto mb-0 text-4xl font-semibold leading-tight tracking-tight text-orange-500 xl:max-w-(--breakpoint-xl)">{{item.title}}</h1>
    <section class="p-8 my-12 card">
      <article>

        <audio class="w-full my-4 bg-gray-500 rounded-sm shadow-sm rfr-player" controls preload="metadata">
          <source type="audio/mpeg" src="{{item.enclosure.url}}&source=rfr_details">
        </audio>
        <div class="content">
          {% episodeContent item %}
        </div>
      </article>
    </section>
  </div>
{% endblock %}