---
layout: layout/base.njk
eleventyNavigation:
  key: Startseite
  order: 0
---
{%block content %}
  <h1 class="title">Ready for Review <span class="title_sub">mit Sandra Parsick und Daniel Mies</span></h1>
  <section class="about">
    <svg class="about__rocket">
      <use xlink:href="#icon-rocket"></use>
    </svg>
    <div class="about__image"></div>
    <article class="about__description">
      <h2>Über Sandra &amp; Daniel</h2>
      <p>
        <a href="https://www.sandra-parsick.de/" title="Persönliche Webseite von Sandra Parsick">Sandra</a> ist als freiberufliche Softwareentwicklerin und Beraterin im Java Umfeld tätig. Seit 2008 beschäftigt sie sich mit agiler Softwareentwicklung in verschiedenen Rollen.
      </p>
      <p>
        <a href="https://mies.me" title="Persönliche Webseite von Daniel Mies">Daniel</a> ist als IT Consultant bei der codecentric AG beschäftigt. Dort entwickelt er leidenschaftlich gerne moderne Frontend Anwendungen oder unterstützt Teams als Agiler Coach.
      </p>
    </article>
  </section>

  {#
  <section class="listen">
    <h3>Ready for Review findet ihr auf (Links sind falsch!):</h3>
    <article class="main-links">
      <a href="https://podcasts.apple.com/us/podcast/overtime/id1068288639" target="”_blank”">Apple Podcast</a>
      <a href="https://open.spotify.com/show/2zC32yHBh9Kyt73uKYUwNR" target="”_blank”">Spotify</a>
      <a href="https://podcasts.google.com/?feed=aHR0cHM6Ly9yc3Muc2ltcGxlY2FzdC5jb20vcG9kY2FzdHMvMTUxNS9yc3M" target="”_blank”">Google Podcast</a>
    </article>
    <article>
      <span>Und natürlich auch auf:</span>
      <a href="https://overcast.fm/itunes1068288639/overtime" target="”_blank”">Overcast</a>
      <a href="https://www.stitcher.com/podcast/dribbble/overtime-5" target="”_blank”">Stitcher</a>
      <a href="https://pca.st/6HhD" target="”_blank”">Pocket Casts</a>
      <a href="https://castbox.fm/channel/2591891" target="”_blank”">CastBox</a>
      <a href="https://radiopublic.com/overtime-Gy0OOx" target="”_blank”">RadioPublic</a>
      <a href="https://feeds.simplecast.com/ge7lYlnT" target="”_blank”">RSS</a>
    </article>
  </section>
  #}
  {#
  <section class="feature-episode">
    <h3>Aktuelle Episode</h3>
    <div class="episode-wrapper">
      <article class="feature-image">
        <a href="/overtime/2020/08/26/a-party-for-one-can-still-be-fun">
          <img alt="Overtime: A Party for One Can Still Be Fun" src="whatever">
        </a>
      </article>
      <article class="feature-copy">
        <ul class="taglist">
          <li>
            <svg>
              <use xlink:href="#icon-microphone"></use>
            </svg>
            <a href="#">Podcast</a>
          </li>
          <li>
            <svg>
              <use xlink:href="#icon-coffee"></use>
            </svg>
            <a href="#">Java</a>
          </li>
          <li>
            <svg>
              <use xlink:href="#icon-technologist"></use>
            </svg>
            <a href="#">Mob Programming</a>
          </li>
        </ul>
        <p class="pre-title">Episode 1</p>
        <a href="/overtime/2020/08/26/a-party-for-one-can-still-be-fun">
          <h2>Ein toller Titel für die Folge</h2>
        </a>

        <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>

        <a class="link-text" href="/overtime/2020/08/26/a-party-for-one-can-still-be-fun">
					Mehr erfahren &amp; anhören ->

        </a>
      </article>
    </div>
  </section>
  <section class="old-episodes">
    <h3>Vergangene Episoden</h3>
    <ul class="list-grid">
      <li>
        <article class="old-episodes__wrapper">
          <p class="pre-title">Episode 123</p>
          <h3>
            <a href="#">Ein toller Titel</a>
          </h3>
          <div class="description">
            <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>

            <a class="link-text" href="/overtime/2020/08/26/a-party-for-one-can-still-be-fun">
					Mehr erfahren &amp; anhören ->

        </a>
          </div>
        </article>
      </li>
    </ul>
    TODO: next button zur navigation
  </section>
  #}
{%endblock %}