---
eleventyNavigation:
  key: Startseite
  order: 0
---
{% extends "layout/base.njk" %}

{%block content %}
  <div class="space-y-20 sm:space-y-32 md:space-y-40 lg:space-y-44 overflow-hidden">
    {% include "intro.njk" %}
    {% include "latest-episode.njk" %}
    {% include "available.njk" %}
    {% include "hosts.njk" %}
    {% include "stream.njk" %}
  </div>
{%endblock %}