---
title: Kontakt
nosearch: true
---
{% extends "layout/base.njk" %}
{%block content %}
    <div class="max-w-(--breakpoint-lg) px-8 mx-auto xl:max-w-(--breakpoint-xl) mt-36">
        <h1 class="mt-4 mb-8 text-4xl font-extrabold leading-none tracking-tight text-gray-700 sm:text-6xl lg:text-7xl sm:mb-10">{{title}}</h1>
        <section class="p-8 my-12 card">

            <p class="my-4 text-gray-800">
Wenn ihr uns kontaktieren wollt, könnt ihr dies gerne via Mastodon tun (<a href="https://podcasts.social/@readyforreview">@readyforreview</a>, <a href="https://mastodon.social/@sparsick">@sparsick</a> oder <a href="https://chaos.social/@danielzenzes" title="Daniel Zenzes bei Mastodon">@danielzenzes</a>).
</p>
            <p class="my-4 text-gray-800">
Alternativ könnt ihr uns auch eine E-Mail senden an info[at] ready-for-review.dev.
</p>

        </section>
    </div>

    {%endblock%}