---

eleventyNavigation:
  key: Kontakt
  order: 30
---
{% extends "layout/base.njk" %}
{%block content %}
    <section class="bg-white my-12 p-8 shadow rounded">
        <h1 class="mt-12 text-6xl font-bold text-orange-500 leading-tight tracking-tight">Kontakt</h1>
        <p class="my-4 text-gray-800">
Wenn ihr uns kontaktieren wollt, könnt ihr dies gerne via Twitter tun (<a href="https://twitter.com/readyforreview">@readyforreview</a>, <a href="https://twitter.com/sandraparsick">@sandraparsick</a> oder <a href="https://twitter.com/danielmies">@danielmies</a>) oder einfach dieses Formular nutzen.
</p>
        <form name="contact" method="POST" data-netlify="true" netlify-honeypot="favorite-color">
            <p class="my-4">
                <label class="label" for="name" >Name</label>
                <input class="input" type="text" required="required" name="name"/>

            </p>
            <p class="my-4">
                <label for="email" class="label">E-Mail</label>
                <input class="input" type="text" required="required" name="email"/>
            </p>
            <p class="my-4">
                <label for="message" class="label">Nachricht</label>
                <textarea class="input" required="required" name="message"></textarea>

            </p>

            <button class="btn" type="submit">Senden</button>

        </form>
    </section>
    {%endblock%}