---
title: Suche
eleventyNavigation:
  key: Suche
  order: 70
nosearch: true
---
{% extends "layout/base.njk" %}
{% block content %}
    <div class="page-hero">
        <div class="container">
            <h1 class="title-1">{{title}}</h1>
            <div class="page-hero__description">
                <p>Durchsuche alle Podcast-Episoden, Artikel und Inhalte von Ready for Review</p>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="container">
            <div class="card">
                <div id="search" class="search-container"></div>
            </div>
        </div>
    </section>

    <script src="/pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false, showSubResults: true });"></script>
{% endblock %}