---
title: Streams
eleventyNavigation:
  key: Streams
  order: 40
---
{% extends "layout/base.njk" %}
{% block content %}
    <div class="max-w-screen-lg xl:max-w-screen-xl mx-auto mt-36 px-8">
        <h1 class="text-4xl sm:text-6xl lg:text-7xl leading-none font-extrabold tracking-tight text-gray-700 mt-4 mb-8 sm:mb-10">{{title}}</h1>
        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-5">
            {% if videos.length %}
                {% for video in videos %}

                    <article class="card p-8">
                        <time class="text-gray-800 text-sm" datetime="{{ video.snippet.publishedAt}}">{{ video.snippet.publishedAt | shortReadableDateFromISO }}</time>

                        <h3 class="text-2xl font-bold leading-tight tracking-tight">
                            {{ video.snippet.title }}
                        </h3>
                        <div class="rfr-player" data-plyr-provider="youtube" data-plyr-embed-id="{{video.snippet.resourceId.videoId}}"></div>
                        <p class="font-medium my-8 sm:my-6 text-gray-500">
                            {{video.snippet.description}}
                        </p>
                    </article>

                {% endfor %}
            </div>

        {% endif %}

    </div>

{% endblock %}