---
title: Die großen Klassiker
eleventyNavigation:
  key: Die großen Klassiker
  order: 50
nosearch: true
---

{% extends "layout/base.njk" %}
{% block content %}
  <div class="page-hero">
    <div class="container">
      <h1 class="title-1">{{title}}</h1>
      <div class="page-hero__description">
        <p>Regelmäßig besprechen wir im Podcast die "großen Klassiker": Bücher, die wir gut finden und Menschen, die in der IT arbeiten, empfehlen möchten.</p>
      </div>
    </div>
  </div>

  <section class="section">
    <div class="container">
      {% if collections.klassiker.length %}
        <div class="grid grid--books">
          {% for klassiker in collections.klassiker %}
            <article class="card card--book card--bordered-top">
              <div class="card__book-cover">
                {% if klassiker.data.isbn %}
                  {% bookCover klassiker.data.isbn, klassiker.data.title, "book-cover-image" %}
                {% else %}
                  <div class="book-cover-placeholder">
                    <div class="book-cover-placeholder__content">
                      <div>📚</div>
                      <div class="book-title">{{klassiker.data.title}}</div>
                    </div>
                  </div>
                {% endif %}
              </div>

              <div class="card__book-content">
                <h3 class="title-3 card__book-title">{{ klassiker.data.title }}</h3>

                <p class="card__book-author">{{klassiker.data.author}}</p>

                <div class="card__book-links">
                  <a href="{{klassiker.data.url}}" class="link link--blue">Webseite zum Buch</a>
                  {% if klassiker.data.isbn %}
                    <a href="https://openlibrary.org/isbn/{{klassiker.data.isbn}}" class="link link--blue">OpenLibrary</a>
                  {% endif %}
                </div>

                <div class="card__book-actions">
                  <a href="{{klassiker.data.episodeLink}}" class="btn btn--primary btn--small">Episode anhören →</a>
                </div>
              </div>
            </article>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </section>
{% endblock %}