---
title: Die großen Klassiker
eleventyNavigation:
  key: Die großen Klassiker
  order: 50
nosearch: true
---

{% extends "layout/base.njk" %}
{% block content %}
    <div class="page_section mt-36">
        <h1
    class="mt-4 mb-8 text-4xl font-extrabold leading-none tracking-tight text-gray-700 sm:text-6xl lg:text-7xl sm:mb-10">
            {{title}}</h1>
        <section class="p-8 my-12 card">
            <p>Regelmäßig besprechen wir im Podcast die "großen Klassiker": Bücher, die wir gut finden und Menschen, die in der IT arbeiten, empfehlen möchten.</p>
        </section>

        {% if collections.klassiker.length %}
            <div class="grid grid-cols-1 gap-5 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
                {% for klassiker in collections.klassiker %}
                    <article class="p-8 mb-8 card">
                        <h3 class="text-2xl font-bold leading-tight tracking-tight text-gray-700">
                            {{ klassiker.data.title }}
                        </h3>
                        <time class="text-sm text-gray-800" datetime="{{ klassiker.data.date}}">{{ klassiker.data.date | shortReadableDate }}</time>
                        <p class="my-8 font-medium text-gray-500 sm:my-6">
                            {{klassiker.data.author}} (<a href="{{klassiker.data.url}}" title="Webseite zum Buch {{ klassiker.data.title }}" class="">Webseite zum Buch</a>)
                        </p>
                        <div class="my-8 sm:my-6">
                            <a href="{{klassiker.data.episodeLink}}" title="Podcast Folge zum Buch {{ klassiker.data.title }}" class="btn">Episode <span>→</span></a>
                        </div>
                    </article>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}